In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [2]:
Fake_data = pd.read_csv('Fake.csv')
True_data = pd.read_csv('True.csv')

In [3]:
Fake_data.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
True_data

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [5]:
Fake_data["Class"] = 0
True_data["Class"] = 1

In [6]:
Fake_data.shape

(23481, 5)

In [7]:
fake_test = Fake_data.tail()
true_test = True_data.tail()

In [8]:
Fake_data = Fake_data[:-10]
True_data = True_data[:-10]

In [9]:
Fake_data.shape
True_data.shape

(21407, 5)

In [10]:
fake_test["Class"] = 0
true_test["Class"] = 1

C:\Users\userpc\AppData\Local\Temp\ipykernel_12672\753605705.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  true_test["Class"] = 1

In [11]:
fake_test.head()

,title,text,subject,date,Class
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [12]:
data_merge = pd.concat([Fake_data, True_data], axis  = 0)

In [13]:
data_merge.head()

,title,text,subject,date,Class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [14]:
data = data_merge.drop(["title", "subject", "date"], axis  = 1)

In [15]:
data.head()

                                                text  Class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [16]:
data = data.sample(frac = 1)

In [17]:
data.head()

                                                    text  Class
13139  Huma Abedin announced she is dumping her sexti...      0
1251   Trump took some time today during a White Hous...      0
2363   Donald Trump s education secretary proved she ...      0
19501  Comedic icon Tim Allen is taking on  microagre...      0
18979  WASHINGTON (Reuters) - The United States has s...      1

In [18]:
data.reset_index(inplace = True)
data.drop(["index"], axis = 1, inplace = True)

In [19]:
data.head()

                                                text  Class
0  Huma Abedin announced she is dumping her sexti...      0
1  Trump took some time today during a White Hous...      0
2  Donald Trump s education secretary proved she ...      0
3  Comedic icon Tim Allen is taking on  microagre...      0
4  WASHINGTON (Reuters) - The United States has s...      1

In [20]:
# Define a function called 'clean_tweet' that takes a single argument called 'tweet'
def clean_text(tweet):
    # Convert the text to lowercase
    tweet = tweet.lower()
    
    # Remove Twitter handles (e.g. '@username')
    tweet = re.sub(r'@[A-Za-z0-9_]+', '', tweet)
    
    # Remove hashtags (e.g. '#COVID19')
    tweet = re.sub(r'#[A-Za-z0-9_]+', '', tweet)
    
    # Remove URLs
    tweet = re.sub(r'http\S+', '', tweet)
    tweet = re.sub(r'www.\S+', '', tweet)
    
    # Remove punctuation marks, including parentheses and exclamation marks
    tweet = re.sub(r'[()!?]', '', tweet)
    
    # Remove square brackets and their contents
    tweet = re.sub(r'\[.*?\]', '', tweet)
    
    # Remove all non-alphanumeric characters except whitespace
    tweet = re.sub(r'[^a-z0-9\s]', '', tweet)
    
    # Replace multiple whitespace characters with a single space
    tweet = re.sub(r'\s+', ' ', tweet).strip()
    
    # Return the cleaned tweet text
    return tweet

In [21]:
data['text'] = data['text'].apply(clean_text)

In [22]:
data.head()

                                                text  Class
0  huma abedin announced she is dumping her sexti...      0
1  trump took some time today during a white hous...      0
2  donald trump s education secretary proved she ...      0
3  comedic icon tim allen is taking on microagres...      0
4  washington reuters the united states has sanct...      1

In [23]:
x = data['text']
y = data['Class']

In [24]:
X_train,x_test, Y_train, y_test = train_test_split(x,y,test_size = 0.25)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
xv_train = vectorizer.fit_transform(X_train) 
xv_test = vectorizer.transform(x_test)

In [26]:
from sklearn.linear_model import LogisticRegression

Lr = LogisticRegression()
Lr.fit(xv_train , Y_train)

LogisticRegression()

In [27]:
pred_lr = Lr.predict(xv_test)

In [28]:
Lr.score(xv_test, y_test)

0.9887700534759358

In [29]:
from sklearn.tree import DecisionTreeClassifier

DT = LogisticRegression()
DT.fit(xv_train , Y_train)

LogisticRegression()

In [30]:
pred_DT = DT.predict(xv_test)

In [31]:
DT.score(xv_test, y_test)

0.9887700534759358

In [34]:
from sklearn.ensemble import GradientBoostingClassifier

In [35]:
GB = GradientBoostingClassifier(random_state = 0)
GB.fit(xv_train , Y_train)

GradientBoostingClassifier(random_state=0)

In [36]:
pred_gb = GB.predict(xv_test)
GB.score(xv_test, y_test)

0.9951871657754011

In [37]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(random_state = 0)
RF.fit(xv_train , Y_train)

RandomForestClassifier(random_state=0)

In [38]:
pred_RF = RF.predict(xv_test)
RF.score(xv_test, y_test)

0.9931372549019608

In [72]:
def output_label(n):
    if n == 1:
        return "Not A Fake News"
    else:
        return "Fake News"

def manual_testing(news):
    testing_news = {"text":[news]}
    
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(clean_text)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorizer.transform(new_x_test)
    pred_lr = Lr.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    print("\n\nLR Prediction: {}\nDT Prediction: {}".format(
        output_label(pred_lr), output_label(pred_DT)))

In [73]:
news = str(input("Enter the news: "))
manual_testing(news)

Enter the news: 'Trump Just Sent Michelle Obama a Bill She will Never Be able to pay in her lifetime'


LR Prediction: Fake News
DT Prediction: Fake News

In [60]:
news = str('Trump Just Sent Michelle Obama a Bill She will Never Be able to pay in her lifetime')
manual_testing(news)

NameError: name 'vectorization' is not defined